.login-page{
  padding: 2% 0 0 0;
}
.form{
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 0 auto 80px;
  padding: 10px;
  text-align: center;
  background: rgba(7, 40, 195, 0.8);
}
.form input{
  font-family: "Roboto",sans-serif;
  outline: 1px;
  background: #f2f2f2;
  width: 70%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button{
  background: #4caf50;
  font-family: "Roboto",sans-serif;
  outline: 1px;
  width: 30%;
  padding: 15px;
  border:0;
  color: #ffffff;
  font-size: 14px;
}
.form button:hover,.form button:active{
background: #430;
}

 .cancel{
  padding-top: 8px;
}
.submit:hover,.submit:active{
 background: #430;
}
